@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Hello, @context.User.Identity?.Name</span>
                    <a href="#" @onclick="Logout" @onclick:preventDefault class="ms-3">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/login");
    }
}
